<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913948867437-fifd4s8cmvfirjf2gq29fih20pe1oo7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913948867437-fifd4s8cmvfirjf2gq29fih20pe1oo7b</string>
	<key>API_KEY</key>
	<string>AIzaSyAgQBF-xAx1hCnhTnrO0KWwj-lV3090B9k</string>
	<key>GCM_SENDER_ID</key>
	<string>913948867437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.damasceno.chat</string>
	<key>PROJECT_ID</key>
	<string>cod3r-chat-c9d0a</string>
	<key>STORAGE_BUCKET</key>
	<string>cod3r-chat-c9d0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913948867437:ios:8bc45c09dbd6894275f864</string>
</dict>
</plist>